In [1]:
# imports

import pandas as pd

In [2]:
# reading dataset

anime = pd.read_csv("../data/Anime_processed.csv")

In [4]:
user = pd.read_csv('../data/users/user_1001133.csv')
rating = user.set_index('anime_id', drop=True)

matrix_1 = anime.set_index('anime_id', drop=True)
matrix_2 = pd.merge(user.drop(['rating'], axis=1), anime, on='anime_id', how='inner').set_index('anime_id', drop=True).T

CBF_score = (matrix_1 @ matrix_2)

In [5]:
x = CBF_score
for i in rating:
    x

anime_id,41467,41911,14719,2152,37202,6408,52034,29978,31646,35180,...,1195,5300,2404,3354,31245,350,21,1559,12431,24439
anime_id,,,,,,,,,,,,,,,,,,,,,
1,4,4,5,5,4,1,1,1,2,2,...,3,2,4,2,1,2,3,4,3,5
5,3,2,3,2,2,3,0,1,1,1,...,3,1,4,3,3,1,1,2,2,4
6,4,5,5,7,6,2,2,1,3,3,...,6,3,3,3,2,2,5,5,4,4
7,4,5,5,6,5,3,3,1,4,4,...,4,4,4,4,3,2,4,5,3,4
8,5,3,3,3,3,1,2,1,3,3,...,3,3,3,2,2,4,3,4,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55731,1,2,0,3,2,1,2,2,2,1,...,2,2,0,1,1,2,2,1,2,1
55732,3,4,2,2,4,1,2,1,1,1,...,4,1,1,2,1,1,4,2,1,2
55733,4,5,3,4,5,2,2,2,2,2,...,5,2,2,3,2,2,4,3,3,3
55734,2,2,1,2,2,3,1,1,2,2,...,3,2,2,3,3,1,1,2,2,1
55735,2,2,1,2,2,3,1,1,2,2,...,3,2,2,3,3,1,1,2,2,1

In [ ]:
def calculate_CBF_score(file: str) -> None:
    user = pd.read_csv(file)
    rating = user['rating']

    matrix_1 = anime.set_index('anime_id', drop=True)
    matrix_2 = pd.merge(user, anime, on='anime_id', how='inner').set_index('anime_id', drop=True).T


    CBF_score = (matrix_1 @ matrix_2)

In [ ]:
calculate_CBF_score('../data/users/user_1001133.csv')