In [1]:
# include

import pandas as pd

In [5]:
# reading dataset

users = pd.read_csv("../archive/users-score-2023.csv")

In [9]:
users = users.drop(['Username', 'Anime Title'], axis=1)

In [12]:
users

          user_id  anime_id  rating
0               1        21       9
1               1        48       7
2               1       320       5
3               1        49       8
4               1       304       8
...           ...       ...     ...
24325186  1291087     10611       3
24325187  1291087       174       6
24325188  1291097      1535       9
24325189  1291097       226      10
24325190  1291097      8425      10

[24325191 rows x 3 columns]